<!DOCTYPE html>
<html ng-app="exampleApp">
<head>
    <title>Directives</title>
    <script src="angular.js"></script>
    <link href="bootstrap.css" rel="stylesheet" />
    <link href="bootstrap-theme.css" rel="stylesheet" />
    <script>
        angular.module("exampleApp", []);
    </script>
    <script type="text/javascript" src="controllers.js"></script>
    <style>
        .Red { background-color: lightcoral; }
        .Green { background-color: lightgreen; }
        .Blue { background-color: lightblue; }
    </style>
</head>
<body>
    <div id="todoPanel" class="panel" ng-controller="defaultController">
        <h3 class="panel-header">To Do List</h3>

        <div class="well">
            <span ng-repeat="button in buttonNames">
                <button class="btn btn-info" ng-click="data.Rows = button">
                    {{button}}
                </button>
            </span>
        </div>

        <table class="table">
            <thead>
                <tr><th>#</th><th>Action</th><th>Done</th></tr>
            </thead>
            <tr ng-repeat="item in todos" ng-class="settings.Rows"
                ng-mouseenter="handleEvent($event)"
                ng-mouseleave="handleEvent($event)">
                {{'Event: ' }}{{$event}}
                <td>{{$index + 1}}</td>
                <td>{{item.action}}</td>
                <td ng-class="settings.Columns">{{item.complete}}</td>
            </tr>
        </table>
    </div>
</body>
</html>
